.field-body {
  margin: 0 .3em;
}

footer {
  min-height: 10em;
}

.search {
  background: #f7f7f7;
  margin-bottom: 3em;
}

.intro {
  margin-bottom: 3em;
}

.intro h2 {
  padding-top: .5em;
}

.status {
  display: block;
  margin: 0 0 2em;
}

