footer {
    min-height: 10em;
}

.intro {
    margin-bottom: 3em;

    h2 {
        padding-top: .5em;
    }
}

.status {
  display: block;
  margin: 0 0 2em;
}

.additional-title {
  display: block;
  font-weight: bold;
}

.additional-subtitle {
  display: block;
  color: #a9a9a9;
}

.extra {
  margin-top: 2em;
}

.gallery {
  max-width: 100%;
}

.helper-label {
  display: block;
  font-weight: bold;
}
