@import "../../../public/css/bulma/bulma.sass";

.pagination {
  margin-top: 2em;
}

footer {
    min-height: 10em;
}

.intro {
    margin-bottom: 3em;

    h2 {
        padding-top: .5em;
    }
}

.status {
  display: block;
  margin: 0 0 2em;
}

.additional-title {
  display: block;
  font-weight: bold;
  margin-top: 2em;
}

.additional-subtitle {
  display: block;
  color: #a9a9a9;
}

.extra {
  margin-top: 2em;
}

.gallery {
  max-width: 100%;
}

.helper-label {
  display: block;
  font-weight: bold;
}

p.photos-error {
  color: red;
}

.fileuploader {
  padding: 0;

  .fileuploader-input {
    margin-bottom: 1em;
  }

  .columns {
    margin-left: 0;
    margin-bottom: 0;
  }
}

img {
  object-fit: cover;
}

.tabs {
  margin-bottom: 1em;
}

.flash-message {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: #23D160;
  padding: 2em;
  z-index: 10;
  color: white;
  font-size: 1.5em;
  text-align: center;
  left: 0;
  right: 0;
}
